.tablePlace {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 18px;

  /* Новый черный */
  color: #1a1a32;

  position: absolute;
  left: 402px;
  top: 981px;
}
.employTable {
  position: relative;
}
th {
  width: 20%;
  height: 25px;
  background: #f1f1f1;
  border-radius: 10px 10px 0px 0px;
}

.inputForm {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  height: 30px;
  width: 99%;
  border: 0;
  outline: 0;
  font-size: 13px;
  color: #1a1a32;
  background: #fafafa;
  transition: border-color 0.2s;
}
.inputForm::placeholder {
  color: #bbbbbb;
}
.inputForm:placeholder-shown ~ .inputlabel {
  font-size: 13px;
  cursor: text;
}
.positiveStatus {
  position: relative;
  top: -5px;
  margin-left: 35%;
  margin-top: 0%;
  margin-bottom: 0%;
  background: green;
}
.negativeStatus {
  position: relative;
  top: -5px;
  margin-left: 35%;
  background: red;
}
.neutralStatus {
  position: relative;
  top: -5px;
  margin-left: 35%;
  margin-top: 0%;
  margin-bottom: 0%;
  background: yellow;
}
select#status {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  width: 98%;
  border: 0;
  outline: 0;
  font-size: 13px;
  background: #1a1a32;
  background: #fafafa;
  transition: border-color 0.2s;
}
