.menu {
  position: absolute;
  width: 372px;
  height: 1084px;
  top: 0px;
  background-color: #f1f1f1;
}
.menu .logo {
  height: 38px;
  width: 126px;
  left: 59px;
  top: 30px;
  border-radius: 0px;

  position: absolute;
}
.menu .pending {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 80%;
  top: 31px;

  background: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.11);
  box-sizing: border-box;
  box-shadow: 10px 10px 20px rgba(26, 26, 50, 0.19);
  border-radius: 74px;
}
.menu .menu-list {
  position: absolute;
  left: 6.04%;
  right: 80.14%;
  top: 11.23%;
  bottom: 85.84%;
}
.menu_choose_off {
  list-style-image: url("./list-style-off.png");
}
.menu_choose_on {
  list-style-image: url("./list-style-on.png");
}
.menu-button {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  height: 30px;
  width: 199px;
  left: 87px;
  top: 115px;
  border-radius: 74px;
  background: #ffffff;
  box-shadow: 10px 10px 20px 0px #1a1a3230;
  margin-bottom: 20px;
}
.menu-button:hover {
  background: linear-gradient(116.85deg, #c6f221 0%, #99b3ff 121.5%);
  color: #ffffff;
}
.menu-button-selected {
  color: #ffffff;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  height: 30px;
  width: 199px;
  left: 87px;
  top: 115px;
  border-radius: 74px;
  background: linear-gradient(116.85deg, #99b3ff 0%, #c6f221 121.5%);
  box-shadow: 10px 10px 20px 0px #1a1a3230;
  margin-bottom: 20px;
}
