.teams {
  position: relative;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 37px;
  color: #1a1a32;
}
.teamPage {
  position: absolute;
  left: 403px;
}

h1 {
  font-family: Gilroy;
  font-size: 30px;
  font-style: normal;
  font-weight: 900;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: left;
}
.team-add-button {
  position: absolute;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  position: relative;
  width: 268px;
  height: 35px;
  left: 200px;
  top: -55px;
  background: #ffffff;
  box-shadow: 2px 2px 3px rgba(26, 26, 50, 0.1);
  border-radius: 5px;
}
.team-add-button:hover {
  background: linear-gradient(116.85deg, #c6f221 0%, #99b3ff 121.5%);
  color: #ffffff;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
