.back-button {
  position: absolute;
  width: auto;
  height: 15px;
  left: 402px;
  top: 45px;

  background: #ffffff;
  box-shadow: 2px 2px 3px rgba(26, 26, 50, 0.1);
  border-radius: 74px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 11px;
}

.back_arrow {
  float: left;
}
