.avatarStyle {
  position: absolute;
  height: 200px;
  width: 200px;
  left: 442px;
  top: 173px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 1px 1px 15px -5px black;
  transition: all 0.3s ease;
  background: #ebc050;
}
.avatarStyle:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.avatarStyle:hover .profile-pic {
  opacity: 0.5;
}
.avatarStyle .profile-pic {
  height: 100%;
  width: 100%;
  transition: all 0.3s ease;
}
.avatarStyle .profile-pic:after {
  font-family: FontAwesome;
  content: "\f007";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  font-size: 190px;
  background: #ebc050;
  color: #ebc050;
  text-align: center;
}
.avatarStyle .upload-button {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.avatarStyle .upload-button .fa-arrow-circle-up {
  position: absolute;
  font-size: 234px;
  top: -17px;
  left: 0;
  text-align: center;
  opacity: 0;
  transition: all 0.3s ease;
  color: #34495e;
}
.avatarStyle .upload-button:hover .fa-arrow-circle-up {
  opacity: 0.9;
}
