.team-list-header {
  position: relative;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  height: 40px;
  width: 322px;
  left: 0px;
  top: 0px;
  border-radius: 74px;
  background: #ffffff;
  box-shadow: 10px 10px 20px 0px #1a1a3230;
}

.personal_choose {
  position: relative;
  list-style-type: none;
  top: 60px;
}
.select-person {
  position: relative;
  width: 268px;
  height: 35px;
  left: 27px;
  margin-bottom: 10px;
  background: #ffffff;
  box-shadow: 2px 2px 3px rgba(26, 26, 50, 0.1);
  border-radius: 5px;
}
.arrow {
  float: right;
}
.team-list-block {
  position: absolute;
  width: 322px;
  height: 305px;
  left: 403px;
  top: 115px;
  z-index: -100;
}

.team-list {
  position: relative;
  top: -40px;
  height: 300px;
  background: #fafafa;
  box-shadow: 10px 10px 20px rgba(26, 26, 50, 0.07);
  border-radius: 0px 0px 10px 10px;
}
.team-list-header-selected {
  position: relative;
  color: #ffffff;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  height: 40px;
  width: 322px;
  left: 0px;
  top: 0px;
  background: linear-gradient(116.85deg, #99b3ff 0%, #c6f221 121.5%);
  border: 1px solid rgba(255, 255, 255, 0.11);
  box-sizing: border-box;
  box-shadow: 10px 10px 20px rgba(26, 26, 50, 0.19);
  border-radius: 74px;
  z-index: 1;
}
